<section class="card characters-container">
  <h3>Мої персонажі</h3>
  
  <div id="characters">
    {% for char in site.data.characters %}
      <div class="character class-{{ char.class | slugify }}">
        <div class="char-avatar-container">
           <img src="{{ char.avatar }}" alt="{{ char.class }}" class="char-avatar">
        </div>
        
        <div class="char-details">
          <div class="char-info">
            <strong>{{ char.name }}</strong>
            <div class="stats">
              {{ char.race }} · {{ char.class }} · {{ char.realm | capitalize }}
            </div>
            {% if char.guild %}
              <div class="guild">‹{{ char.guild.name }}›</div>
            {% endif %}
          </div>

          <div class="scores">
            {% if char.healer.score > 0 %}
              <span class="score-tag" style="color: {{ char.healer.color }}">Heal: {{ char.healer.score }}</span>
            {% endif %}
            {% if char.dps.score > 0 %}
              <span class="score-tag" style="color: {{ char.dps.color }}">DPS: {{ char.dps.score }}</span>
            {% endif %}
            {% if char.tank.score > 0 %}
              <span class="score-tag" style="color: {{ char.tank.color }}">Tank: {{ char.tank.score }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
