{% if site.footer-links.youtube %}
<a target="_blank" rel="noreferrer" href="https://www.youtube.com/{{ site.footer-links.youtube }}" title="Follow us on YouTube">
  <img class="icon" alt="YouTube" src="../assets/img/footer/Youtube.svg">
</a>
{% endif %}

{% if site.footer-links.twitch %}
<a target="_blank" rel="noreferrer" href="https://www.twitch.tv/{{ site.footer-links.twitch }}" title="Follow us on Twitch">
  <img class="icon" alt="Twitch" src="../assets/img/footer/Twitch.svg">
</a>
{% endif %}

{% if site.footer-links.tiktok %}
<a target="_blank" rel="noreferrer" href="https://www.tiktok.com/{{ site.footer-links.tiktok }}" title="Follow us on TikTok">
  <img class="icon" alt="TikTok" src="../assets/img/footer/TikTok.svg">
</a>
{% endif %}

{% if site.footer-links.discord %}
<a target="_blank" rel="noreferrer" href="https://discord.gg/{{ site.footer-links.discord }}" title="Join us on Discord">
  <img class="icon" alt="Discord" src="../assets/img/footer/Discord.svg">
</a>
{% endif %}
