<div class="lang-switcher">
    {% for lang in site.languages %}
    {% assign lang_name = site.data[lang].l10n.lang_name %}
    {% if lang == site.active_lang %}
    <span>{{ lang_name }}</span>
    {% else %}
    {% if lang == site.default_lang %}
    <a href="{{ page.url }}" id="lang-link-{{ lang }}" onclick="changeLanguage('{{ lang }}')">{{ lang_name }}</a>
    {% else %}
    <a href="/{{ lang }}{{ page.url }}" id="lang-link-{{ lang }}" onclick="changeLanguage('{{ lang }}')">{{ lang_name }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>

<script>
    // Логування доступних мов
    console.log('Available languages:', {{ site.languages | jsonify }});

    // Функція для зміни мови
    function changeLanguage(lang) {
        var langLinks = document.querySelectorAll('.lang-switcher a');
        
        // Видалення класу активної мови з усіх посилань
        langLinks.forEach(function (link) {
            link.classList.remove('active-lang');
        });

        // Знаходимо посилання для активної мови
        var activeLangLink = document.getElementById('lang-link-' + lang);
        
        // Логування і перевірка, чи є елемент
        console.log('Changing language to:', lang);
        if (activeLangLink) {
            activeLangLink.classList.add('active-lang');
        } else {
            console.error('No link found for language:', lang);
        }

        // Оновлення локального сховища браузера з активною мовою
        localStorage.setItem('active_lang', lang);

        // Формування посилання відповідно до обраної мови
        var pageUrl = lang === '{{ site.default_lang }}' ? '{{ page.url }}' : '/' + lang + '{{ page.url }}';
        
        // Якщо посилання знайдено, оновлюємо атрибут href
        if (activeLangLink) {
            activeLangLink.setAttribute('href', pageUrl);
        }
    }

    // Перевірка локального сховища браузера при завантаженні сторінки
    document.addEventListener('DOMContentLoaded', function () {
        var activeLang = localStorage.getItem('active_lang');
        
        // Якщо в локальному сховищі є інформація про активну мову, застосовуємо її
        if (activeLang) {
            console.log('Activating language from localStorage:', activeLang);
            changeLanguage(activeLang);
        } else {
            // Якщо немає активної мови в локальному сховищі, можна встановити мову за замовчуванням
            changeLanguage('{{ site.default_lang }}');
        }
    });
</script>
