{% assign rank_id = include.rank %}
{% assign short_name = "" %}
{% assign full_name = "" %}

{% case rank_id %}
  {% when 0 %}
    {% assign short_name = "GM" %}
    {% assign full_name = "Гільд-майстер" %}
  {% when 1 %}
    {% assign short_name = "OF" %}
    {% assign full_name = "Офіцер" %}
  {% when 2 %}
    {% assign short_name = "VT" %}
    {% assign full_name = "Ветеран" %}
  {% when 3 %}
    {% assign short_name = "MB" %}
    {% assign full_name = "Учасник" %}
  {% when 4 %}
    {% assign short_name = "IN" %}
    {% assign full_name = "Новачок" %}
  {% else %}
    {% assign short_name = "R" | append: rank_id %}
    {% assign full_name = "Ранг " | append: rank_id %}
{% endcase %}

<div class="rank-badge member-chip rank-{{ rank_id }}" aria-label="{{ full_name }}">
  <span class="chip-value">{{ short_name }}</span>

  <div class="rank-tooltip">
    <div class="tooltip-header">Ранг</div>
    <div class="tooltip-text">{{ full_name }}</div>
  </div>
</div>
