<section id="socials" class="card socials-card">
  <div class="socials-content">
    <h3 class="welcome-text">Вітаю у моєму цифровому лігві!</h3>
    <div class="socials-links">
      <a href="https://youtube.com/@yourchannel" target="_blank" class="btn-social yt">
        <i class="fab fa-youtube"></i> YouTube
      </a>
      <a href="https://tiktok.com/@yourchannel" target="_blank" class="btn-social tt">
        <i class="fab fa-tiktok"></i> TikTok
      </a>
      <a href="https://twitch.tv/yourchannel" target="_blank" class="btn-social tw">
        <i class="fab fa-twitch"></i> Twitch
      </a>
      <a href="https://discord.gg/SR8JsQBCxn" target="_blank" class="btn-social dc">
        <i class="fab fa-discord"></i> Discord
      </a>
    </div>
  </div>
</section>
