<footer class="footer mt-4 px-2 py-4 ">
  <script src="{{ site.baseurl }}/assets/js/character-rio-info.js"></script>
  <script src="{{ site.baseurl }}/assets/js/twitch-info.js"></script>
  <script src="{{ site.baseurl }}/assets/js/youtube-info.js"></script>
  <script src="{{ site.baseurl }}/assets/js/donatello-info.js"></script>
  {%- include lang-switcher.html -%}
  <div class="container">
    <div class="row">
      <section id="logo-social">
        <div class="content grid-12">
          <div class="logo-wrapper col-xs-1-12 col-sm-6-12">
            <a class="headlogo" href="../" title="Лігво Друїда">Лігво Друїда</a>
          </div>
          <div class="social-wrapper col-xs-1-12 col-sm-6-12 col-sm-pad-6-12">
            <div class="social-links">
              {% include footer-icons.html %}
            </div>
          </div>
        </div>
      </section>
      <section id="foot">
        <div class="content">
          <span class="copyright">Copyright © 2023 - {{ site.time | date: '%Y' }} <br> {{ site.data.l10n.footer_note |
            escape }}</span>
          <div class="foot-links">
            Licensed under <a target="_blank" rel="noreferrer" href="https://creativecommons.org/licenses/by-sa/4.0/">CC
              BY-SA 4.0</a> <br> {% if page.last_updated %}{{ site.data.l10n.footer_page_last_update | escape }}
            {{page.last_updated}}<br />{% endif %} {{ site.data.l10n.footer_site_last_update | escape }} {{
            site.time | date: "%b %-d, %Y" }}
          </div>
        </div>
      </section>
    </div>
</footer>