@media (min-width: 1280px) {
  .Character-wrapper {
      display:flex;
      align-items: center;
      justify-content: space-between
  }
}

@media (min-width: 540px) {
  .CharacterHeader {
      display:table;
      position: relative
  }

  .CharacterHeader>.List-item {
      vertical-align: middle
  }

  .CharacterHeader .CharacterHeader-character {
      margin-bottom: 0
  }

  .CharacterHeader .CharacterHeader-nameTitle {
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px solid hsla(0,0%,100%,.2)
  }
}

.CharacterHeader-character {
  display: table;
  position: relative;
  margin-bottom: 10px;
}

.CharacterHeader-logoArea {
  vertical-align: middle;
  height: 100%;
  display: none
}

@media (min-width: 720px) {
  .CharacterHeader-logoArea {
      display:block
  }
}

.CharacterHeader-logo.Logo--alliance,.CharacterHeader-logo.Logo--horde {
  margin-right: 20px
}

.CharacterHeader-nameArea {
  display: table-cell;
  vertical-align: middle;
  height: 100%
}

.CharacterHeader-name {
  font-weight: 700;
  font-size: 2.2395rem;
  line-height: 1.5;
  line-height: 1em
}


.padding-top-medium {
  padding-top: 40px !important;
}

.padding-bottom-small {
  padding-bottom: 10px !important;
}