@charset "UTF-8";

.footer {
  z-index: 1;
  display: block;
  position: relative;
  background-color: #1e1e1e !important;
  color: $grey-500;
  padding: 1rem 0;
  margin-top: 3rem;

  .headlogo {
    height: 35px;
    overflow: hidden;
    float: left;
  }

  .row {
    display: block;
  }

  .foot-links,
  .foot-links a {
    color: white;
  }

  .foot-links {
    margin-bottom: 15px;
  }

  #foot .content {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 0 20px 0;
  }

  .copyright {
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
  }

  .content.grid-12 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 16px;
  }

  .col-xs-1-12 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 2;
  }

  .social-links {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    width: 250px;
    margin: auto;

    a {
      opacity: 0.6;
      transform: scale(1);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      display: flex;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
        color: $brand-primary !important;
      }

      img.icon {
        display: block;
        border: 0;
        width: 32px;
        height: 32px;
      }
    }
  }
}


@media (min-width: 481px) {
  .footer {

    .content {
      width: 100%;
      margin: 0 auto;
      padding: 20px 0;
    }

    .foot-links {
      margin-bottom: 0;
    }

    .foot-links a {
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $brand-primary !important;
      }

    }

    #logo-social {
      padding: 0 15px;
    }

    #logo-social .content {
      border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    }

    .social-links {
      justify-content: flex-end;
      width: auto;
      flex: 1;

      img.icon {
        width: 24px;
        height: 24px;
      }
    }

    .social-wrapper {
      display: flex;
    }

    .logo-wrapper {
      display: block;
      grid-row-start: 1;
    }

    .col-sm-pad-6-12 {
      -ms-grid-column: 7;
      grid-column-start: 7;
    }

    .col-sm-6-12 {
      -ms-grid-column-span: 6;
      grid-column-end: span 6;
    }

    .content.grid-12 {
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: repeat(12, 1fr);
      -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
    }

    #foot .content {
      flex-direction: row;
      text-align: left;
      padding: 20px 15px;
    }
  }
}

/* Для малих екранів (наприклад, смартфони) */
@media (max-width: 768px) {
  .footer .social-links {
    gap: 12px;
    width: 100%;

  }
}

/* Для дуже малих екранів (наприклад, 480px) */
@media (max-width: 480px) {
  .footer .social-links {
    justify-content: center;
    width: auto;
    padding-top: 1.5rem !important;
  }
}

.footer-logo svg {
  fill: $grey-600;
  margin: 8px 0 4px;
  height: 32px;
}

.footer-text {
  color: $grey-200;
  margin-bottom: 0.875rem;
  font-size: 0.875rem;
}

@include media-breakpoint-down(sm) {

  .footer,
  .footer .footer-icons {
    text-align: center;
    float: none;
  }
}

.icon {
  -webkit-transition: fill .4s ease;
  -moz-transition: fill .4s ease;
  transition: fill .4s ease;
}