@charset "UTF-8";

.footer {
  z-index: 1;
  display: grid;
  grid-area: footer;
  position: relative;
  background-color: #1e1e1e !important;
  color: $grey-500;
  padding: 1rem 0;
  margin-top: 3rem;

  .social-links {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    width: 250px;
    margin-left: auto;
    /* Вирівнювання блоку праворуч */
    margin-right: 0;

    a {
      opacity: 0.6;
      transform: scale(1);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      display: flex;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
        color: $brand-primary !important;
      }

      img.icon {
        display: block;
        border: 0;
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (min-width: 481px) {
  .social-links {
    width: auto;
    flex: 1;
  }
}

/* Для малих екранів (наприклад, смартфони) */
@media (max-width: 768px) {
  .footer .social-links {
    gap: 12px;
    width: 100%;

  }
}

/* Для дуже малих екранів (наприклад, 480px) */
@media (max-width: 480px) {
  .footer .social-links {
    justify-content: center;
    width: auto;
    padding-top: 1.5rem !important;
  }
}

.footer-logo svg {
  fill: $grey-600;
  margin: 8px 0 4px;
  height: 32px;
}

.footer-text {
  color: $grey-200;
  margin-bottom: 0.875rem;
  font-size: 0.875rem;
}

@include media-breakpoint-down(sm) {

  .footer,
  .footer .footer-icons {
    text-align: center;
    float: none;
  }
}

.icon {
  -webkit-transition: fill .4s ease;
  -moz-transition: fill .4s ease;
  transition: fill .4s ease;
}